a.button[class*=isango_] {
  border: none;
  border-radius: 3px;
  padding: 8px 10px;
  line-height: normal;
  color: white;
  text-align: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

a.button[class*=isango_]:hover {
  text-decoration: none;
}

a.button[class*=isango_]:hover span:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

a.button[class*=isango_] span {
  background: none;
  padding-left: 30px;
}

a.button[class*=isango_] span:before {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  position: absolute;
  margin-left: -32px;
  margin-top: -3px;
}

a.button.isango_google {
  background: #E44134;
  border: 1px solid #ca281b;
  min-width: 100px;
}

a.button.isango_google span:before {
  content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24px' height='24px' fill='white'><path d='M12 0C5.4 0 0 5.4 0 12s5.4 12 12 12 12-5.4 12-12S18.6 0 12 0zm6.9 14.6c-.3 1.2-1 2.3-1.9 3.1-.9.8-1.9 1.3-3 1.6-1.2.3-2.6.3-3.8 0-1-.3-1.9-.7-2.7-1.4-.8-.7-1.5-1.5-2-2.5-.7-1.5-1-3.2-.6-4.8.1-.6.3-1.3.6-1.9.8-1.8 2.3-3.1 4.2-3.7 1.6-.6 3.4-.5 5 0 .9.3 1.7.8 2.4 1.5-.2.3-.5.5-.7.7L15 8.6c-.5-.4-1-.8-1.6-.9-.7-.2-1.5-.2-2.2-.1-.9.1-1.6.6-2.2 1.2-.5.5-.9 1.1-1.1 1.8-.3.9-.3 2 0 2.9.3.9.9 1.7 1.7 2.3.5.3 1.1.6 1.7.7.6.1 1.2.1 1.8 0 .6-.1 1.1-.3 1.6-.6.8-.5 1.3-1.4 1.5-2.3h-4.1v-2.9h7c.2 1.2.2 2.6-.2 3.9z' /></svg>");
}

a.button.isango_google:hover {
  background: #ca281b;
}

a.button.isango_microsoft {
  background: #0067B8;
  border: 1px solid #004a85;
  min-width: 100px;
}

a.button.isango_microsoft span:before {
  content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24px' height='24px' fill='white'><path d='M12 0C5.4 0 0 5.4 0 12s5.4 12 12 12 12-5.4 12-12S18.6 0 12 0zM5.5 5.5h6v6h-6v-6zm7 0h6v6h-6v-6zm-7 7h6v6h-6v-6zm7 0h6v6h-6v-6z' /></svg>");
}

a.button.isango_microsoft:hover {
  background: #004a85;
}

a.button.isango_yandex {
  background: #E61400;
  border: 1px solid #b31000;
  min-width: 100px;
}

a.button.isango_yandex span:before {
  content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24px' height='24px' fill='white'><path d='M12 0C5.4 0 0 5.4 0 12s5.4 12 12 12 12-5.4 12-12S18.6 0 12 0zm3.9 19.8c0 .4-.3.7-.7.7h-1.4c-.4 0-.7-.3-.7-.7v-5.5h-.2l-3 5.8c-.1.3-.4.5-.8.5H7.5c-.3 0-.5-.1-.7-.4-.1-.2-.1-.5 0-.8l3.1-5.7c-1.7-1-2.7-2.7-2.7-4.9 0-4.3 2.6-6.2 5.2-6.2H15c.5 0 .8.3.8.8v16.4zM10.3 8.5c0 2 .9 3.2 2.4 3.2h.4V5.1h-.6c-1.1 0-2.2.9-2.2 3.4z' /></svg>");
}

a.button.isango_yandex:hover {
  background: #b31000;
}

a.button.isango_discord {
  background: #5C70C0;
  border: 1px solid #4156a8;
  min-width: 100px;
}

a.button.isango_discord span:before {
  content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24px' height='24px' fill='white'><path d='M12 0C5.4 0 0 5.4 0 12s5.4 12 12 12 12-5.4 12-12S18.6 0 12 0zM9.6 5.5l.2.3C8 6.3 6.9 7 5.9 7.9c1.6-.8 3.4-1.5 6.2-1.5 2.8 0 4.4.8 6.1 1.6-1-.9-1.9-1.6-3.9-2.1l.2-.4c2.2.1 4.1 1.6 4.1 1.6s2.1 3 2.4 9c-2.1 2.5-5.3 2.5-5.3 2.5l-.7-.9c1.1-.4 2.4-1.1 3.5-2.4-1.3 1-3.3 2-6.5 2s-5.2-1-6.5-2c1.1 1.3 2.4 2 3.5 2.4l-.7.9s-3.2-.1-5.3-2.5c.4-6 2.5-9 2.5-9s1.7-1.4 4.1-1.6zm-.2 5.8c-.8 0-1.4.7-1.4 1.6 0 .9.6 1.6 1.4 1.6.8 0 1.4-.8 1.4-1.6 0-.9-.6-1.6-1.4-1.6zm5.3 0c-.8 0-1.4.7-1.4 1.6 0 .9.6 1.6 1.4 1.6.8 0 1.4-.8 1.4-1.6 0-.9-.6-1.6-1.4-1.6z' /></svg>");
}

a.button.isango_discord:hover {
  background: #4156a8;
}

a.button.isango_github {
  background: #24292E;
  border: 1px solid #0e1011;
  min-width: 100px;
}

a.button.isango_github span:before {
  content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24px' height='24px' fill='white'><path d='M12 0C5.4 0 0 5.4 0 12c0 5.3 3.4 9.8 8.2 11.4.6.1.8-.3.8-.6v-2.2c-3.3.7-4-1.4-4-1.4-.5-1.4-1.3-1.8-1.3-1.8-1.1-.7.1-.7.1-.7 1.2.1 1.8 1.2 1.8 1.2 1.1 1.8 2.8 1.3 3.5 1 .1-.8.4-1.3.8-1.6-2.8-.3-5.6-1.3-5.6-5.9 0-1.3.5-2.4 1.2-3.2 0-.4-.5-1.6.2-3.2 0 0 1-.3 3.3 1.2 1-.3 2-.4 3-.4s2 .1 3 .4C17.3 4.7 18.3 5 18.3 5c.7 1.7.2 2.9.1 3.2.8.8 1.2 1.9 1.2 3.2 0 4.6-2.8 5.6-5.5 5.9.4.4.8 1.1.8 2.2v3.3c0 .3.2.7.8.6C20.6 21.8 24 17.3 24 12c0-6.6-5.4-12-12-12z' /></svg>");
}

a.button.isango_github:hover {
  background: #0e1011;
}

a.button.isango_linkedin {
  background: #007AB9;
  border: 1px solid #005886;
  min-width: 100px;
}

a.button.isango_linkedin span:before {
  content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24px' height='24px' fill='white'><path d='M12 0C5.4 0 0 5.4 0 12s5.4 12 12 12 12-5.4 12-12S18.6 0 12 0zM8.8 17.9H6V9.3h2.9v8.6zM7.4 8.1c-1 0-1.6-.7-1.6-1.5s.6-1.5 1.6-1.5S9 5.7 9 6.6c0 .8-.6 1.5-1.6 1.5zm11.8 9.8h-2.9v-4.6c0-1.2-.4-2-1.5-2-.8 0-1.3.5-1.5 1-.1.2-.1.4-.1.7v4.8h-2.9V9.2h2.9v1.2c.4-.6 1.1-1.4 2.6-1.4 1.9 0 3.3 1.2 3.3 3.9v5zm-5.9-7.4z' /></svg>");
}

a.button.isango_linkedin:hover {
  background: #005886;
}

a.button.isango_facebook {
  background: #4267b2;
  border: 1px solid #34518d;
  min-width: 100px;
}

a.button.isango_facebook span:before {
  content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24px' height='24px' fill='white'><path d='M10.3 18.5H13V12h1.8l.2-2.3h-2V8.6c0-.6.1-.9.9-.9H15V5.5h-1.8c-2.2 0-2.9 1.1-2.9 2.9v1.4H9V12h1.3zM12 24C5.4 24 0 18.6 0 12S5.4 0 12 0s12 5.4 12 12-5.4 12-12 12z' /></svg>");
}

a.button.isango_facebook:hover {
  background: #34518d;
}

.usercp_nav_item.usercp_nav_connections {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAh1JREFUeNqckz1rVEEUhs/sRlYMEXRDQgolKKiI1RpiozYRBAtdxDKNKIiCEBU/kmqJEFDShFQ2oohKREURBAXzA0SJWBgiksLg+rWLF0l2537MjM+4ZpNwUznw8M7cOec9Z+69o5xz4sfR2ROybGSduONW7GkjpgumEkluxhI/0aINz+X1lhd/A1skPTKwl6AyiWcgT/IOGOTZSfaOQLQY3DTwnSil/HQ/SeegBzpI/AFvmF9DC5gM0V1pebWGgXWe3sQlt6EMZ2GfV+OMX49CFRJtdGuqg7hGV1k1SKVh26hcYr4ZPjO/D8NwhfVl/5yU6ZUG9WgTPcyyuRH6Cb6OfoRtzC+ht9Bn6DGOMZA6gg70bh3UJ6EII2Ggd8Hjf+rXxSgIX8VBuBNVqSPUKwudTuxbI7aDCh+odBUOwQOY4FjtqP8yrVZckjb4viAYdJN8D5O76B2Ct6Kf0A3oN0wi9CcGOm1Qnn/PRgmTG+hTTLqdmFMkPGLdiz6HAu9p2uVcLWVQm5ufYvMhwf1oF8Ff/RrDKlpkfQEdYn/Cf/WUQVjR2obmF0HjUIF22AOHiT6P9oGotsxLlWu+wyUD/YWurJtxxo2QkKcIZjKJXkT70AOSlQGpLP3GfqjFy7Rue5u42EpcjdbzR3b6CwUFOCj+rWdUKZPPzqk1jerRjF79MpH822nLH+uoKjkYUy3qnVrLFVxlNDv43/FHgAEAe3mcL7UMjX0AAAAASUVORK5CYII=);
}
/*# sourceMappingURL=isango.css.map */